// https://coolors.co/2f323a-cf5c36-087ca7-e3b505-05b2dc
// Palette
$onyx: #373a43;
$flame: #cf5c36;
$cg-blue: #087ca7;
$cerulean-crayola: #05b2dc;
$icterine: #f7f052;

// Accents
$mountain-meadow: #02c39a;

// Shades
// onyx https://coolors.co/373a43
$neutral-900: #1f2126;
$neutral-700: #2b2e35;
$neutral-500: $onyx;
$neutral-300: #858b9b;
$neutral-100: #f0f0f3;

// Theme
$text: $neutral-100;
$background: $neutral-700;

$green: $mountain-meadow;
$yellow: $icterine;
$red: $flame;
