// https://coolors.co/2f323a-cf5c36-087ca7-e3b505-05b2dc
// palette1

// onyx https://coolors.co/373a43
$onyx-900: #1f2126;
$onyx-700: #2b2e35;
$onyx-500: #2f323a;
$onyx-300: #858b9b;
$onyx-100: #f0f0f3;

$red: #cf5c36;
$cg-blue: #087ca7;

// Maybe
$yellow: #e3b505;
$blue-2: #05b2dc;

$primary-color: $red;
$text: $onyx-100;
$background: $onyx-700;
