@use '../../styles/palette';

$todo-container-spacing: 1rem;

.todo-list {
    display: flex;
    flex-direction: column;
    margin: 4rem;

    .todo-container {
        display: flex;
        &:not(.todo-add) {
            margin: $todo-container-spacing 0;
        }

        .todo-entry {
            margin: 0.33rem 0;
        }

        .todo-input,
        &.todo-entry {
            font-size: 1.33rem;
            line-height: 2rem;
        }

        &.todo-add {
            &,
            input {
                color: palette.$neutral-100;
                caret-color: palette.$text;
                background: palette.$neutral-900;
            }
        }

        &.todo-entry {
            background: palette.$neutral-500;

            input {
                color: palette.$neutral-100;
                caret-color: palette.$neutral-100;
                background: palette.$neutral-500;
            }
        }
    }

    .todo-input,
    .todo-entry-text {
        width: 100%;
        border: none;
        margin: 0.66rem;
        cursor: text;

        &.todo-entry-completed {
            cursor: inherit;
        }

        &:focus {
            outline: none;
        }
    }

    .todo-button {
        cursor: pointer;
        margin: auto;
        padding: 0.33rem;

        &.todo-add-button-disabled {
            cursor: default;
            color: grey;
        }

        &.todo-button-check {
            color: palette.$green;
        }

        &.todo-button-pause {
            color: palette.$yellow;
        }

        &.todo-button-remove {
            color: palette.$red;
        }
    }

    .todo-section {
        &.todo-section-collapsed {
            margin-bottom: $todo-container-spacing;
        }

        .todo-section-title {
            display: flex;
            align-items: center;
            cursor: pointer;
        }

        .toggle-button {
            cursor: pointer;
            min-width: 1.66rem;
        }
    }

    svg {
        font-size: 1.75rem;
    }
}
