@use '../../styles/palette';

.todo-list {
    display: flex;
    flex-direction: column;
    margin: 4rem;

    .todo-container {
        display: flex;
        &:not(.todo-add) {
            margin: 1rem 0;
        }

        .todo-entry {
            margin: 0.33rem 0;
        }

        .todo-input,
        &.todo-entry {
            font-size: 1.33rem;
            line-height: 2rem;
        }

        &.todo-add {
            &,
            input {
                color: palette.$onyx-100;
                caret-color: palette.$text;
                background: palette.$onyx-900;
            }
        }

        &.todo-entry {
            background: palette.$onyx-500;

            input {
                color: palette.$onyx-100;
                caret-color: palette.$onyx-100;
                background: palette.$onyx-500;
            }
        }
    }

    .todo-input,
    .todo-entry-text {
        width: 100%;
        border: none;
        margin: 0.66rem;
        cursor: text;

        &.todo-entry-completed {
            cursor: inherit;
        }

        &:focus {
            outline: none;
        }
    }

    .todo-button {
        cursor: pointer;
        margin: auto;
        padding: 0.33rem;

        &.todo-add-button-disabled {
            cursor: default;
            color: grey;
        }
    }

    .todo-section {
        .todo-section-title {
            display: flex;
            align-items: center;
        }

        .toggle-button {
            min-width: 1.66rem;
            cursor: pointer;
        }
    }

    svg {
        font-size: 1.75rem;
    }
}
